body {
    font-family: 'Baskerville';
    /*font-weight: 300; dont think this does anything*/
} 

.bg{
    background-image: url(Staff_Paper.png);
    background-size: 35.625em;
    background-position: center;
}

header {
    padding: 0.625em 0em;
}

header .row {
    display: flex;
    align-items: center;
    z-index=1;
}

header h1 {
    /*font-weight: 700; dont think this really does anything*/
    margin: 0;
    position:relative;
    padding:0.625em;
    z-index=-1;
}

.jumbotron{
    display: flex;
    align-items: center;
}

.jumbotron h2{
    font-size: 3.75em;
    font-weight: 700;
    margin: 0;
    text-align: center;
}

.row img {
    max-width: 15%;
    height: auto;
}

.navBar {
  background-color:black;
  position: fixed;
  min-width: 100%;
}

.wrapper {
  margin: 0;
  max-width: 960px;
  padding: 0 2%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 50%;
}
    
    a {
      color: black;
      text-decoration: none;
      padding: 1.875em; 
      transition: all .5s ease;

      &:hover {color: grey;}
    }
  
  li  {
    display: inline-block;
  }
  
  #menu-toggle {
      display: none;
}
  
  .label-toggle {
      display: none;
}

@media screen and (max-width: 768px) {
  ul {
      background-color: whitesmoke;
      display: block;
      height: 0;
      list-style-type: none;
      opacity: 0;
      text-align: center;
      transition: all 1s ease;
      width: 100%;
      visibility: hidden;
    }
    
    li {
      border-bottom: 2px solid black;
      color: black;
      display: block;
      font-size: 1.5em;
      padding: 2em 0;
    }
  
    #menu-toggle:checked ~ ul {
      opacity: 1;
      height: 100vh;
      visibility: visible;
    }
    
      .label-toggle  {
      background: linear-gradient(to bottom, black 0%, black 20%, transparent 20%, transparent 40%, black 40%, black 60%, transparent 60%, transparent 80%, black 80%, black 100%); 
      cursor: pointer;
      display: inline;
      float: right;
      height: 2.188em;
      margin-top: 1em;
      width: 2.188em;
    }
    
      .wrapper {
          display:block
      }